
.vs/PixelRendering/v16/.suo
*.db
*.filters
*.user
*.db-shm
*.db-wal
*.opendb
*.ipch
*.obj
*.log
*.idb
*.pdb
*.txt
*.lastbuildstate
*.tlog
*.ilk
*.recipe
*.exe
.vs/PixelRendering/v17/.suo
*.vsidx
*.lock
.vs/PixelRendering/v17/DocumentLayout.json
PixelRendering/x64/Release/PixelRendering.ipdb
.vs/PixelRendering/v17/DocumentLayout.json
.vs/PixelRendering/v17/DocumentLayout.json
.vs/PixelRendering/v17/DocumentLayout.json
PixelRendering/x64/Release/PixelRendering.iobj
.vs/PixelRendering/v17/DocumentLayout.json
.idea/.idea.PixelRendering/.idea/indexLayout.xml
.idea/.idea.PixelRendering/.idea/vcs.xml
